body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 18px;
    background: #4d0000;
}
h{
    font-family: 'Arvo', serif;
}
.header{
    background: url(images/logo_guitar.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
nav{
    background: #1a0000;
    height: 74px;
    width: 100%;
    text-align: center;
    align-content: center;
    position: fixed;
    }
img.logo{
    width: 250px;
    margin: 0 auto;

    filter: invert(100%);
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    vertical-align: top;
    display: inline-block;
    padding-top: 24px;
}
nav a, .logo{
    margin-left: 2%;
    margin-right: 2%;
}
nav a:hover{
    color: #911500;
    transition: .2s;
}
div.links{
    width: 70%;
    margin: 0 auto;
}
section.social{
    height: 90px;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    padding: 4px;
}
div.social{
    margin: 18px 4% 18px 4%;
    display: inline-block;
    width: 60;
    height: 60;
    padding: 2px;
    vertical-align: top;
}
.social img{
    width: 50px;
    padding: 2px;
}
img.social:hover{
    width: 58px;
    padding: none;
    transition: .2s;
}
section.news{
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
    color: #fff8e7;
}
div.feature{
    max-width: 900px;
    margin: 24 auto;
    background: #fff8e7;
    color: black;
    text-align: left;
    padding: 24px;
}
.feature h1{
    text-align: center;
}

.feature input {
  display: none;
  visibility: hidden;
}
.feature label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  
}
.feature label:hover {
  color: #000;
}
.feature label::before {
  
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  
  
}
.feature #expand {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.feature #toggleSUC:checked ~ #expand {
  max-height: 1000px;
}
.feature #toggleSUC:checked ~ label::before {
	

}


.feature #toggleTIS:checked ~ #expand {
  max-height: 1000px;
}
.feature #toggleTIS:checked ~ label::before {
	

}


section.about{
    padding: 34px;
    clear: both;
}
section.about h1{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    width: 100%;
}
section.about img{
    width: 220px;
    shape-outside: url(images/logo_square_iconround.svg);
    shape-image-threshold: 0.5;
    shape-margin: 18px;
    float: left;
    margin: 12px;
    margin-top: 30px;
}
.desc{
    max-width: 700px;
    margin: 0 auto;
    background: #fff8e7;
    padding: 22px;
}
desc.text{
    margin-left: 12px;
    padding:12px;
}
footer{
    height: 50px;
    background: #1a0000;
    text-align: center;
    padding: 18px;
    color: #fff;
}
