body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 18px;
}
h{
    font-family: 'Arvo', serif;
}
.header{
    background: url(images/logo_guitar.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    background: #000;
    height: 74px;
    width: 100%;
    text-align: center;
    }
img.logo{
    width: 250px;
    margin: 0 auto;
    padding: 2px;
    filter: invert(100%);
}
nav a{
    margin: 65px;
    margin-top: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
}
nav a:hover{
    color: #911500;
}
nav a.left{
    float: left;
}
nav a.right{
    float: right;
}
section.social{
    height: 90px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
section.social img{
    width: 50px;
    margin: 18px 4% 18px 4%;
}
section.news{
    background: #9f9f9f;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
}
div.feature{
    width: 85%;
    height: 300px;
    margin: 24 auto;
    background: #4f4f4f;
}
section.about{
    padding: 34px;
    background-color: #5a5a5a;
    clear: both;
}
section.about h1{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    width: 100%;
}
section.about img{
    width: 220px;
    shape-outside: url(images/logo_square_iconround.svg);
    shape-image-threshold: 0.5;;
    shape-margin: 18px;
    float: left;
    margin: 12px;
    margin-top: 30px;
}
.desc{
    max-width: 700px;
    margin: 0 auto;
}
desc.text{
    margin-left: 12px;
    padding:12px;
}
footer{
    height: 50px;
    background: #4a4a4a;
    text-align: center;
    padding: 18px;
}
