* {
    box-sizing: border-box;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 24px;
    background: #fff8e7;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: #4d0000;
}
a:hover{
    color: #cc0000;
}
h1, h2, h3{
    font-family: 'Arvo', serif;
	color: black;
}

h2{
    font-size: 5em;
    line-height: 1.3em;
    margin: 1em;
    text-align: right;
    color: #fff8e7;
    padding-top: 15vh;
}
h3{
    font-size: 4em;
    color: #fff8e7;
    text-align: right;
    margin: 1em;
    line-height: 
}
p{
    padding: 18px;
}
.header{
	display: inline;
    background: url(images/redbg.jpg);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.heroBack {
	height: 120%;
	repeat: none;
}
.heroCont { 
	z-index: 0;
	position: absolute; 
	top: 0px; 
	left: 0px;
	height = 20%;
	margin: 0 auto;
	padding-top: none;
}
.news.header{
    background-image: none;
    height: 8%
}
nav{
    background: #1a0000;
    height: 74px;
    width: 100%;
    text-align: center;
    align-content: center;
    position: fixed;
	z-index: 5;
    }
img.logo{
	width: 250px;
    margin: 0 auto;
    margin-top: 12px;
}
nav a{
    color: #fff8e7;
    text-decoration: none;
    font-size: 32px;
    vertical-align: top;
    display: inline-block;
    padding-top: 24px;
}
nav a, .logo{
    margin-left: 2%;
    margin-right: 2%;
}
nav a:hover{
    color: #911500;
    transition: .2s;
}
div.links{
    width: 70%;
    margin: 0 auto;
}
section.social{
	display: inline;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    padding: 4px;
}
div.social{
    margin-left: 9%;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 2px;
    vertical-align: top;
}
.social img{
    width: 50px;
    padding: 2px;
}
img.social:hover{
    width: 58px;
    padding: none;
    transition: .2s;
}
section.news{
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #fff8e7;
}
.news {
    display: block;
	color: black;
}
div.feature{
    max-width: 90%;
    margin: 0 auto;
    background: #ede9de;
    color: black;
    text-align: left;
}


.altona{
    background-repeat: no-repeat;
    background-size: 100%;
}
.altona h1{
	text-align: left;
    font-size: 48px;
    padding-top: 48px;
    line-height: 48px;
}
div.sunshine{
    background-size: 100%;
    background-repeat: no-repeat;
}
.sunshine h1{
    text-align: left;
	font-size: 48px;
    padding-top: 48px;
}
/*
.feature input {
  display: none;
  visibility: hidden;
}
.feature label {
  display: block;
  text-align: center;

}
.feature label:hover {
  color: #fff;
  transition: .2s;
}
.feature label::before {
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.feature #expand {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.feature #toggleSUC:checked ~ #expand {
  max-height: 1000px;
}
.feature #toggleSUC:unchecked ~ label::before {

}
.feature #toggleTIS:checked ~ #expand {
  max-height: 1000px;
}
.feature #toggleTIS:unchecked ~ label::before {


}

br.clear{
    clear: both;
}*/
section.about{
    padding: 34px;
    clear: both;
    background: #fff8e7;
}
section.about img{
    width: 260px;
    shape-outside: url(images/logo_square_iconround.svg);
    shape-image-threshold: 0.5;
    shape-margin: 18px;
    float: left;
    margin: 12px;
    margin-top: 30px;
}
.desc{
    max-width: 900px;
    margin: 0 auto;
    background: #fff8e7;
    padding: 18px;
}
desc.text{
    margin-left: 12px;
    padding:12px;
}
.button{
    background-color: #4d0000;
    color: #fff8e7;
    max-width: 300px;
    padding: 8px;
    margin: 18px;
    border-radius: 18px;
    margin-left: 550px;
}
.button a{
    color: #fff8e7;
}
.button h4{
    text-align: center;
    margin: 18px;
}
footer{
    height: 60px;
    background: #1a0000;
    text-align: center;
    padding: 18px;
    color: #fff8e7;
}

@media screen and (max-width: 572px){
    img.logo{
        display: none;
    }
    nav{
		display: block;
		background: #1a0000;
		height: 130px;
		width: 100%;
		text-align: center;
		align-content: center;
		float: bottom
    }
}